section{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}

img{
    height:15px;
    text-decoration: none;
}

p, span, a, svg{
    margin-right: 8px;
    left: 0px;
    color: white;
    font-size: 18px;
}
