<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=a, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/header.css">
</head>
<body>
    <svg height="30" width="30">
      <circle cx="15" cy="15" r="15" stroke="black" stroke-width="3" fill="purple" />
    </svg>
    <span>Qualifica Blog</span>
    <a href="../pages/Home.html" target="_blank">Home</a>
    <a href="../pages/Blog.html" target="_blank">Blog</a>
    <a href="../pages/Equipe.html" target="_blank">Equipe</a>
    <a href="../pages/Contato.html" target="_blank">Contato</a>
</body>
</html>