/* Header */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 50px;
  background-color:#0c0c17;
}

.links{
  margin-right: 10px;
  color: #fff;
}
.link{
  text-decoration: none;
}

/* Main */
.text-center{
  border: 1px solid #dbd9d9;
  border-radius:5px;
  padding:20px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  background-color:#0c0c17;
  border-radius: 5px;
}